*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'fordngbs-antenna-light',arial,sans-serif;
}
.main-container{
    height: 615px;
    width: 100vw;
    background-image: url();
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8)),
        url('https://www.vdm.ford.com/content/dam/brand_ford/en_us/brand/homepage-re-imagine/desktop/25_FRD_EPR_PB_0933_V5_2160x1215.jpg/jcr:content/renditions/cq5dam.web.1440.1440.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* To remove the anchors blue color and underline */
.style-1{
    text-decoration: none;
}
.navbar{
    height: 56px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 30px 0px 30px;
    padding: 0px 56px 0px 56px;
}
.navbar ul{
    list-style: none;
    display: flex;
    gap: 10px;
}
.navbar ul li a{
    color: white;
    font-weight: bolder;
    margin-right: 15px;
}
.ford-logo{
    height: 52px;
    width: 105px;
    margin-right: 230px;
}
.icons-ul{
    margin-right: 30px;
}
.icons-ul li{
    margin-right: 12px;
}
.icons-ul li img{
    height: 20px;
    width: 20px;
}
.hero-container{
    height: 500px;
    width: 450px;
    display: flex;
    justify-content: end;
}
.hero-section{
    width: 400px;
    height: 200px;
    position: absolute;
    bottom: 0;
    margin-bottom: 80px;
} 
.anchor-container-hero{
    display: flex;
    align-items: center;
}
.anchors-size{
    height: 40px;
    width: 161px;
    border-radius: 50px;
}
.search{
    background-color: white;
    color: black;
    margin-bottom: 24px;
}
.meet{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    margin-left: 30px;
    margin-bottom: 24px;
    
}
.details{
    color: white;
    font-size: 12px;
}
.hero-section h2{
    font-size: 42px;
    color: #FFFFFF;
    font-weight: lighter;
}
.hero-section h1{
    font-size: 54px;
    color: #FFFFFF;
    padding-bottom: 24px;
    font-weight: lighter;
}
.centerx{
    display: flex;
    justify-content: center;
    align-items: center;
}